<div class="maincontent">
  <div class="whitebox">
    <div class="topbar">
      <p>. . .</p>
    </div>


  <div class="container">
    <p class="phrase">Original Phrase was <span class="strong"> $phrase</span></p>
    <p class="phrase">Your Guess was <span class="strong"> $secondInput</span></p>
    <p class="phrase">Your Guess was <span class="strong"> $results</span></p>

  </div>
</div>
